<h1>Holidays Available</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Price</th>
    <th>Hotelname</th>
    <th>Nights</th>
    <th>Noofrooms</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @holidays.each do |holiday| %>
  <tr>
    <td><%= holiday.location %></td>
    <td><%= holiday.price %></td>
    <td><%= holiday.hotelName %></td>
    <td><%= holiday.hotelImage %></td>
    <td><%= holiday.nights %></td>
   
    <td><%= holiday.noOfRooms %></td>
    <td><%= link_to 'Show', holiday %></td>
   <% if !cssigned_in? %>
	<td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
    <td><%= link_to 'Destroy', holiday, confirm: 'Are you sure?', method: :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% if !cssigned_in? %>
	<%= link_to 'New Holiday', new_holiday_path %>
<% end %>
<%= link_to 'Back', root_path %>
