<h2>Home</h2>
<p>New User ?<%=link_to "Sign up Now!", new_user_path%></p>
<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<p>Existing user ? <%=link_to "Existing User!", signin_path %></p>
<br>
<br>
<br><br><br><br>
<div id="Box">
<h1>Caroline Nolan</h1>
<%= link_to "GitHub", 'http://www.github.com/' %>
</div>