<!DOCTYPE html>
<html>
<head>
  <title>Holidaysapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner">
	<%= image_tag("sun1.jpg", :size => "160x110") %>
	<b>Nolan's Travel </b>
	<br><br>
</div>
<div id="nav">
    <ul>
    <% if !signed_in? %>
		<li><%= link_to "Sign In", signin_path %></li>
		<li><%= link_to "Customer Sign In", cssignin_path %></li>
	<% else %>
		<li><Signed in as <%= @current_user.username %></li>
		<li><%= link_to "Sign Out", signout_path %></li>
		 <li><%= link_to "Travel News", 'http://www.breakingtravelnews.com/' %></li>
	      <li><%= link_to "Customers", customers_path%></li>
	    <li><%= link_to "Holidays Available ", holidays_path%></li>
	     <li><%=link_to "Bookings", bookings_path%></li>
	<% end %>
	</ul>
	</div>
	<div id= "nav">
	<ul>
	<% if cssigned_in? %>
		<li><%= link_to "Customer Sign Out", cssignout_path %></li>
		<li><%= link_to "Holidays Available ", holidays_path%></li>
		 <li><%= link_to "Travel News", 'http://www.breakingtravelnews.com/' %></li>
   </ul>
	<% end %>
	</div>
    




<%= yield %>

</body>
</html>
